<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <title>Header</title>
</head>
<body>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <a href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='images/ifdes-logo.png') }}" alt="IFDeS Logo">
            </a>
            </div>
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item"><a href="{{ url_for('main.index') }}">Home</a></li>
                    <li class="header__nav-item"><a href="{{ url_for('main.chat_page') }}">Ask AI</a></li>
                    <li class="header__nav-item"><a href="{{ url_for('main.report_page') }}">Report</a></li>
                    <li class="header__nav-item"><a href="{{ url_for('main.contact') }}">Contact Us</a></li>
                </ul>
            </nav>
            <div class="header__profile">
                <img src="{{ url_for('static', filename='images/profile-pic.png') }}" alt="Profile Picture" class="header__profile-pic" id="profileDropdownButton">
                <div class="header__profile-dropdown" id="profileDropdown">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('main.profile') }}">Profile</a>
                        {% if current_user.is_admin %}
                            <a href="{{ url_for('main.company_list') }}">Manage Companies</a>
                        {% endif %}
                        <a href="{{ url_for('auth.logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ url_for('auth.login') }}">Login</a>
                    {% endif %}
                </div>
            </div>
            
        </div>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </header>
</body>
</html>
